/* font-family: 'Shrikhand', cursive;
font-family: 'Work Sans', sans-serif;
font-family: 'Cabin', sans-serif; */

body {
  margin: 0;
  background-image: url("main-background.png");
}

a {
  font-family: 'Cabin', sans-serif;
  text-decoration: none;
}

h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 60px;
  letter-spacing: 4px;
  color: #ffea77;
  text-shadow: -2px 0 #009cdb;
  text-align: center;
}

nav {
  height: 40px;
  background: #ffffff1a;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  font-size: 24px;
  text-shadow: -2px 0 #000;
  color: #fff;
}

.alert {
  position: absolute;
  top: 3%;
  left: 50%;
}

.inner-alert {
  background: #ffffff7a;
  padding: 5px;
  font-family: 'Cabin', sans-serif;
  text-align: center;
  min-width: 140px;
  border: 1px solid #ed9782;
  z-index: 1;
  position: relative;
  left: -50%;
}

.card {
  background: #ffffff7a;
  margin: 10px;
  padding: 10px;
}
